.letter-root {
    display: flex;
    background: #f2f2f2;
    min-width: 1100px;
    height: 100%;
    min-height: 100vh;
    
}

.letter-body-container {
    display: block; 
    background: #f2f2f2;
    height: 100%;
}

.side-menu {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #f2f2f2;
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: left;
}

.letter-author-container {
    width: 250px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    margin-bottom: 50px
    
}
.letter-author-container img {
    margin-bottom: 10px;
    width: 130px;
    height: 130px;
    object-fit: contain;
}
.letter-auth {
    margin-bottom: 3px;
}


.letter-author-container button {
    border-radius: 2px;
    background: none;
    border: 1px solid #3C474B;
    width: 150px;
    margin-bottom: 5px;
}

.letter-follow {
    margin-top: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
}

.side-links h4 {
    margin-left: 30px;
    margin-bottom: 10px;
}

.letter-scroll-container {
    padding: 7px;
    text-align: left;
    margin-left: 250px;
    margin-top: 80px;
    width: 750px;
    height: 500px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),
    0 1px 2px 0 rgba(0, 0, 0, .2);
    overflow: auto;
}

.letter-close {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
}

.letter-close:hover {
    cursor: pointer;
}

#read-letter-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

#read-addressed-to {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.read-letter-footer {
    width: 750px;
    /* border: 1px solid red; */
    margin-left: 250px;
    margin-top: -33px;
    text-align: left;
    background: #e2e4e6;
    height: 33px;
    display: flex;
    align-items: center;
}

.responses-btn {
    margin-left: 15px;
    font-family: 'PT Sans', sans-serif;
    color: gray;
    font-weight: 700;
}

.responses-btn:hover {
    cursor: pointer;
}

.response-container {
    width: 750px;
    margin-left: 250px;
    background: #eceef0;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),
    0 1px 2px 0 rgba(0, 0, 0, .2);
    margin-bottom: 80px;
}

.people-you-follow h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}