


.new-post-root {
    display: block;
}

.new-post-body-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.new-post-body-container  {
    /* float: right; */
    text-align: left;
    width: 100%;
}

.editor-container {
    /* display: inline-block; */
    margin: 20px;
    max-width: 800px;
    height: 100vh;
    
}

.editor-container div {
    border: none;
}

.my-editing-area {
    min-height: 450px;
    max-height: 450px;
    overflow: auto;

}

.ql-editor  {
    height: 350px !important; 
}

.ql-editor strong {
    font-weight: 700;
}

.ql-editor em {
    font-style: italic;
}

.details-input {
    width: 450px;
    margin-bottom: 10px;
    border: none;
}

.editor-container {
    font-family: 'PT Sans', sans-serif;
}

.letter-buttons {
    margin-top: 5px;
}

.letter-buttons button {
    margin-right: 5px;
}
