

.user-profile-root {
    width: 100vw;
    height: 100vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    background: #f2f2f2;
    margin-top: 60px;
}


.user-profile-card {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    width: 750px;
    /* height: 500px; */
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),
    0 1px 2px 0 rgba(0, 0, 0, .2);
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    padding-top: 25px;
}

.user-letters {
    width: 750px;
    background: #f2f2f2;
    margin-top: 10px;
    text-align: left;
}

.user-profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.user-profile-name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.user-profile-birthday {
    margin-bottom: 20px;
}

.user-profile-about {
    margin-bottom: 20px;
}

.user-profile-job {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-profile-employer {
    margin-bottom: 40px;
}

.recommended-container {
    width: 750px;
    margin-top: 50px;

}

.recommended-title {
    text-align: left;
    margin-bottom: 20px;
}

.recommended-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px; 
    justify-items: center;
}

.network {
    margin-bottom: 20px;
}
.network span {
    margin-right: 15px;
}