
.login-root {
    display: block;
}

.login-header {
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    width: 100vw;
    min-width: 1100px;
    height: 60px;
    background: #36558F;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1),
    0 6px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    font-family: 'Fugaz One', cursive;
    color: #9da1a4;
    font-size: 45px;
}

.login-body-container {
    /* display: block; */
}

.login-top-half {
    height: calc(50vh);
    width: 100vw;
    min-width: 500px;
    background: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.login-container {
    height: 250px;
    width: 350px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
    0 10px 10px 0 rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo-container {
    color: #9da1a4;
    background: #36558F;
    width: 150px;
    height: 150px;
    padding-top: 8px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .5)    
}

.login-btn-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.login-btn {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .3);
    /* background-image: radial-gradient(circle at 50%-46%, #e2e4e6, #9da1a4); */
    background: #ffffff;
    height: 36px;
    width: 220px;
    font-family: 'Open Sans', sans-seriff;
    font-size: 20px;

}

.login-bottom-half {
    
    height: calc(50vh);
    width: 100vw;
    min-width: 500px;
    background: #f2f2f2;
}